<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RoboticObs.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <connectionStrings/>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/>
  </startup>
  <userSettings>
    <RoboticObs.My.MySettings>
      <setting name="sRoofDevice" serializeAs="String">
        <value>NONE</value>
      </setting>
      <setting name="sInternetTimeout" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="sDebugKillInternet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sUPSHost" serializeAs="String">
        <value>172.20.7.41</value>
      </setting>
      <setting name="sUPSCommunity" serializeAs="String">
        <value>public</value>
      </setting>
      <setting name="sUPSrequestOid" serializeAs="String">
        <value>.1.3.6.1.4.1.3808.1.1.1.4.1.1.0</value>
      </setting>
      <setting name="sSimulatorMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sDebugKillUPS" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sUPSTimeout" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="sRoofOpenPartly" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="sSwitch1Name" serializeAs="String">
        <value>EYEMA-PC &amp; CAM2</value>
      </setting>
      <setting name="sSwitch2Name" serializeAs="String">
        <value>KVM &amp; RASPI &amp; Solo</value>
      </setting>
      <setting name="sSwitch3Name" serializeAs="String">
        <value>EzViz 1&amp;2</value>
      </setting>
      <setting name="sSwitch4Name" serializeAs="String">
        <value>10 Micron / Baader</value>
      </setting>
      <setting name="sSwitch5Name" serializeAs="String">
        <value>Pegasus Controller</value>
      </setting>
      <setting name="sSwitch6Name" serializeAs="String">
        <value>Dew Control All Sky</value>
      </setting>
      <setting name="sSwitch7Name" serializeAs="String">
        <value>Spare CCD</value>
      </setting>
      <setting name="sSwitch8Name" serializeAs="String">
        <value>Cabinet Fan</value>
      </setting>
      <setting name="sSwitch1Needed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sSwitch2Needed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sSwitch3Needed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sSwitch4Needed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sSwitch5Needed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sSwitch6Needed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sSwitch7Needed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sSwitch8Needed" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sSwitch1Warning" serializeAs="String">
        <value>Are you sure to powercycle the PC ?</value>
      </setting>
      <setting name="sSwitch2Warning" serializeAs="String">
        <value>Are you sure to powercycle the KVM / Raspberry / AAG Solo ?</value>
      </setting>
      <setting name="sSwitch3Warning" serializeAs="String">
        <value>Are you sure to powercycle EzViz 1&amp;2 ?</value>
      </setting>
      <setting name="sSwitch4Warning" serializeAs="String">
        <value>Are you sure to powercycle the 10Micron/Power Switch ?</value>
      </setting>
      <setting name="sSwitch5Warning" serializeAs="String">
        <value>Are you sure to powercycle the Pegasus controller ?</value>
      </setting>
      <setting name="sSwitch6Warning" serializeAs="String">
        <value />
      </setting>
      <setting name="sSwitch7Warning" serializeAs="String">
        <value />
      </setting>
      <setting name="sSwitch8Warning" serializeAs="String">
        <value>Are you sure to powercycle the mount power cooling ?</value>
      </setting>
      <setting name="sObserverHeight" serializeAs="String">
        <value>556</value>
      </setting>
      <setting name="sObserverLatitude" serializeAs="String">
        <value>38.215506</value>
      </setting>
      <setting name="sObserverLongitude" serializeAs="String">
        <value>-6.6295967</value>
      </setting>
      <setting name="sObserverPressure" serializeAs="String">
        <value>1013</value>
      </setting>
      <setting name="sObserverTemperature" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="sWeatherURL" serializeAs="String">
        <value>http://customer.astrohostinge-eye.es:17043//cgi-bin/cgiLastData</value>
      </setting>
      <setting name="sWeatherCloud_Clear" serializeAs="String">
        <value>-5</value>
      </setting>
      <setting name="sWeatherCloud_Cloudy" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sWeatherCloud_Overcast" serializeAs="String">
        <value>11</value>
      </setting>
      <setting name="sWeatherHumidity_Dry" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sWeatherHumidity_Normal" serializeAs="String">
        <value>70</value>
      </setting>
      <setting name="sWeatherHumidity_Humid" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="sWeatherRain_Dry" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sWeatherRain_Wet" serializeAs="String">
        <value>3000</value>
      </setting>
      <setting name="sWeatherRain_Rain" serializeAs="String">
        <value>3750</value>
      </setting>
      <setting name="sWeatherLightness_Dark" serializeAs="String">
        <value>2100</value>
      </setting>
      <setting name="sWeatherLightness_Light" serializeAs="String">
        <value>6</value>
      </setting>
      <setting name="sWeatherLightness_VeryLight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sWeatherClearDelay" serializeAs="String">
        <value>900</value>
      </setting>
      <setting name="sCCDFilter1" serializeAs="String">
        <value>L</value>
      </setting>
      <setting name="sCCDFilter2" serializeAs="String">
        <value>H</value>
      </setting>
      <setting name="sCCDFilter3" serializeAs="String">
        <value>LPS</value>
      </setting>
      <setting name="sCCDFilter4" serializeAs="String">
        <value>LENH</value>
      </setting>
      <setting name="sCCDFilter5" serializeAs="String">
        <value>V</value>
      </setting>
      <setting name="sAlarmPlay" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sAlarmSound" serializeAs="String">
        <value>C:\RoboticObs\best_wake_up_sound.wav</value>
      </setting>
      <setting name="sLogLocation" serializeAs="String">
        <value>C:\RoboObsLog\</value>
      </setting>
      <setting name="sObservatoryName" serializeAs="String">
        <value>EYEMA-OBS</value>
      </setting>
      <setting name="sTelegramErrorID" serializeAs="String">
        <value>-445733727</value>
      </setting>
      <setting name="sTelegramSessionID" serializeAs="String">
        <value>-410999015</value>
      </setting>
      <setting name="sTelegramLoggingType" serializeAs="String">
        <value>BRIEF</value>
      </setting>
      <setting name="sTelegramBOT" serializeAs="String">
        <value>965192245:AAFuAzlsjUkWX5eLb6GC0zT5Sgj_oSpgLo0</value>
      </setting>
      <setting name="sLogType" serializeAs="String">
        <value>FULL</value>
      </setting>
      <setting name="sCCDFocusSubFrame" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="sCCDSensorSizeX" serializeAs="String">
        <value>6248</value>
      </setting>
      <setting name="sCCDSensorSizeY" serializeAs="String">
        <value>4176</value>
      </setting>
      <setting name="sCCDImageScale" serializeAs="String">
        <value>0.868</value>
      </setting>
      <setting name="sWeatherTimeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="sCCDImagePath" serializeAs="String">
        <value>C:\RoboObsImages\</value>
      </setting>
      <setting name="sMountDevice" serializeAs="String">
        <value>ASCOM.SoftwareBisque.Telescope</value>
      </setting>
      <setting name="sCCDPlateSolveExposure" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="sCCDPlateSolveMaxError" serializeAs="String">
        <value>20</value>
      </setting>
      <setting name="sCCDPlateSolveBinning" serializeAs="String">
        <value>2x2</value>
      </setting>
      <setting name="sCCDPlateSolveNbrTries" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="sAutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sDebugCloud" serializeAs="String">
        <value>SAFE</value>
      </setting>
      <setting name="sDebugLight" serializeAs="String">
        <value>DARK</value>
      </setting>
      <setting name="sDebugAAGData" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sDebugSunMoonCoordinates" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SDebugSunAltitude" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="SDebugMoonAltitude" serializeAs="String">
        <value>-20</value>
      </setting>
      <setting name="SDebugSunRisingSetting" serializeAs="String">
        <value>SETTING</value>
      </setting>
      <setting name="SDebugMoonRisingSetting" serializeAs="String">
        <value>RISING</value>
      </setting>
      <setting name="sSunOpenRoof" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="sSunDuskFlats" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="sSunStartRun" serializeAs="String">
        <value>-12</value>
      </setting>
      <setting name="sSunStopRun" serializeAs="String">
        <value>-12</value>
      </setting>
      <setting name="sSunDawnFlats" serializeAs="String">
        <value>-4</value>
      </setting>
      <setting name="sRoofOpenTimeout" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="sObjectAltLimitEast" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="sObjectAltLimitWest" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="sAlarmRepeat" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="sDebugKillAAG" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sCCDFocusEveryXImages" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="sCCDFocusEveryXDegrees" serializeAs="String">
        <value>1.5</value>
      </setting>
      <setting name="sCCDDithering" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sCCDDitheringAmount" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="sCCDFocusMeridianFlip" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sSnapCapSerialPort" serializeAs="String">
        <value>COM13</value>
      </setting>
      <setting name="sCoverMethod" serializeAs="String">
        <value>SERIAL</value>
      </setting>
      <setting name="sDisableSafetyCheck" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sCCDFocusDefExp" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="sCCDFocusSamples" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="sSunDuskFlatsNeeded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sSunDawnFlatsNeeded" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sSynologyPath" serializeAs="String">
        <value>C:\SynologyDrive\e-eye data\</value>
      </setting>
      <setting name="sSMARTTimeout" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="sSentinelEXE" serializeAs="String">
        <value>C:\RoboticSentinel\RoboticSentinel.exe</value>
      </setting>
      <setting name="sTurnOffCompletely" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sObservationProgram" serializeAs="String">
        <value>DEEPSKY</value>
      </setting>
      <setting name="sMoonIgnore" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sCCDBlindSolve" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sMountMeridianFlip" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sMountMeridianFlipMinutes" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="sToolsOpenRoof" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sDebugMoonIllumination" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="sUPSNotPresent" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sCCDCoolingEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sCCDCoolingTemp" serializeAs="String">
        <value>-5</value>
      </setting>
      <setting name="sCCDFocusDefaultPosition" serializeAs="String">
        <value>106000</value>
      </setting>
      <setting name="sCCDFocusDefaultFork" serializeAs="String">
        <value>10000</value>
      </setting>
      <setting name="sSMARTCycle" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="s7ZipLocation" serializeAs="String">
        <value>C:\Program Files\7-Zip\7z.exe</value>
      </setting>
      <setting name="sSentinelAutostart" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sAutoFlatMinExp" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="sAutoFlatMaxExp" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="sAutoFlatMinADU" serializeAs="String">
        <value>15000</value>
      </setting>
      <setting name="sAutoFlatMaxADU" serializeAs="String">
        <value>35000</value>
      </setting>
      <setting name="sAutoFlatAlt" serializeAs="String">
        <value>80</value>
      </setting>
      <setting name="sAutoFlatAz" serializeAs="String">
        <value>180</value>
      </setting>
      <setting name="sAutoFlatBin" serializeAs="String">
        <value>1x1</value>
      </setting>
      <setting name="sAutoFlatFilter" serializeAs="String">
        <value>L</value>
      </setting>
      <setting name="SHADSURL" serializeAs="String">
        <value>https://docs.google.com/spreadsheets/d/e/2PACX-1vSyphtUrAM-tldhj0d4EH6BAbyPrMbfPq4UZ5AANyacd9OL8WAY4Ef0mZ_xbpIC7Bj3GhJuv6oSMyAM/pub?gid=316386585&amp;single=true&amp;output=tsv</value>
      </setting>
      <setting name="sMoonStartCooldown" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sSwitch1Startup" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sSwitch2Startup" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sSwitch3Startup" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sSwitch4Startup" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="sSwitch5Startup" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="sSwitch6Startup" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sSwitch7Startup" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sSwitch8Startup" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sSwitch1Mount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sSwitch2Mount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sSwitch3Mount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sSwitch4Mount" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sSwitch5Mount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sSwitch6Mount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sSwitch7Mount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sSwitch8Mount" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sHADSMag8" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="sHADSMag9" serializeAs="String">
        <value>30</value>
      </setting>
      <setting name="sHADSMag10" serializeAs="String">
        <value>60</value>
      </setting>
      <setting name="sHADSMag11" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="sHADSMag12" serializeAs="String">
        <value>90</value>
      </setting>
      <setting name="sHADSMag13" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="sHADSMag14" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="sHADSMag15" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="sHADSDECCutOff" serializeAs="String">
        <value>-25</value>
      </setting>
      <setting name="sCCDName" serializeAs="String">
        <value>ASI ZWO2600MC</value>
      </setting>
      <setting name="sCCDColorCamera" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sTelescopeFocalLength" serializeAs="String">
        <value>890</value>
      </setting>
      <setting name="sTelescopeName" serializeAs="String">
        <value>Takahashi CCA250-3.6</value>
      </setting>
      <setting name="sTelescopeAparture" serializeAs="String">
        <value>250</value>
      </setting>
      <setting name="sCCDPixelSize" serializeAs="String">
        <value>3.76</value>
      </setting>
      <setting name="sCoverDevice" serializeAs="String">
        <value />
      </setting>
      <setting name="sSwitchDevice" serializeAs="String">
        <value />
      </setting>
      <setting name="sMountStartupLink" serializeAs="String">
        <value>http://user:secret@172.20.7.49/?cmd=5&amp;p=1&amp;a1=1&amp;a2=0&amp;s=2</value>
      </setting>
      <setting name="sCCDFocusClosedLoopSlew" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sMoonAltitudeAlwaysSafe" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="sMoonPhaseAlwaysSafe" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="sMoonPhaseLimitLow" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="sMoonAltitudeLimitLow" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="sMoonStartCooldownLow" serializeAs="String">
        <value>35</value>
      </setting>
      <setting name="sMoonAltitudeLimitHigh" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="sMoonStartCooldownHigh" serializeAs="String">
        <value>25</value>
      </setting>
      <setting name="sWeatherUseSwitch" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="sWeatherUseValues" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="sWeatherSafeSwitchDelay" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="sMountTimeout" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="sCoverTimeout" serializeAs="String">
        <value>75</value>
      </setting>
      <setting name="sCCDTimeout" serializeAs="String">
        <value>90</value>
      </setting>
    </RoboticObs.My.MySettings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6"/>
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6"/>
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6"/>
    <remove invariant="System.Data.SQLite"/><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
